.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

[hidden] {
    display: none !important;
}

#modal.modal .modal-dialog {
    width: 100%;
    max-width: 968px;
    min-width: 848px;
}

#modal .modal-body {
    padding: 0;
    height: 524px;
}

#modal .modal-body .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#modal .modal-body .wrapper .modal-left-section {
    display: block;
    font-size: 0.84rem;
    font-weight: 600;
    border-bottom: 1px solid #DFDFDF;
}

#modal .modal-body .wrapper .modal-left-section .item {
    padding: 1rem 1.5rem;
    display: flex;
    line-height: 1.28;
    align-items: center;
    color: #454D5D;
    cursor: pointer;
    transition: 0.06s linear background;
}

#modal .modal-body .wrapper .modal-left-section .item:hover {
    background: rgba(244, 251, 252, 0.4);
}

#modal .modal-body .wrapper .modal-left-section .item:hover:active {
    background: rgba(244, 251, 252, 1);
}

#modal .modal-body .wrapper .modal-left-section .item.active {
    background: rgba(244, 251, 252, 1);
}

#modal .modal-body .wrapper .modal-left-section .item i {
    margin-right: 6px;
    font-size: 18px;
}

#modal .modal-body .wrapper .modal-right-section {
    width: 100%;
    background: #F2F5F9;
    border-left: 1px solid #c5c5c5;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#modal .modal-body .wrapper .section {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px 0 rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;
    border: none;
    margin: 0 1rem 1rem 1rem;
    border-top-left-radius: 0;
    position: relative;
    height: 408px;
    z-index: 99;
    padding: 1.2rem 1rem;
}


#modal .modal-body .wrapper .single-section {
    /*background: #FFFFFF;*/
    /*box-shadow: 0px 2px 2px 0 rgba(34, 36, 38, 0.15);*/
    border-radius: 0.28571429rem;
    border: none;
    /*margin: 1rem;*/
    position: relative;
    height: auto;
    z-index: 99;
    display: flex;
    flex-wrap: wrap;
}

.single-section {
    display: flex;
    padding: 1rem 0;
}

.single-section .blank-column {
  padding: 2rem 2rem 1rem 2rem;
  width: calc(100% - 1.5rem);
  height: 420px;
  margin: 0 1rem 1rem 1rem;
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  text-align: center;
  horiz-align: center;
}

.single-section .info-column {
    padding: 2rem 2rem 1rem 2rem;
    width: calc(50% - 1.5rem);
    margin: 0 1rem 1rem 1rem;
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px 0 rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;
}


.single-section .info-column:nth-child(2n) {
    margin-left: 0.5rem;
}

.single-section .info-column:nth-child(1n) {
    margin-right: 0.5rem;
}

.single-section .info-column .info-title {
    color: #00aaff;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.single-section .info-column .info-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4px;
}


.single-section.inputs .info-column {
    width: 100%;
    margin-right: 1rem;
    font-size: 0.94rem;
}

.single-section.inputs .info-column .info-content .label {
    width: 136px;
}

.single-section.inputs .info-column .info-content {
    margin-bottom: 1rem;
    align-items: center;
}

.single-section.inputs .info-column .radio-input .radio {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}


.single-section.inputs .info-column .radio-input {
    display: inline-flex;
    font-size: 14px;
    align-items: center;
}

.single-section.inputs .footer {
    padding-left: 150px;
    display: flex;
    align-items: center;
}

.single-section.inputs .footer .response.success {
    padding: 1rem;
    font-size: 0.94rem;
    font-weight: 600;
    color: #315900;
}
.single-section.inputs .footer .response.fail {
    padding: 1rem;
    font-size: 0.94rem;
    font-weight: 600;
    color: #B50909;
}

.single-section.inputs .info-column .checkbox-input {
    display: block;
    font-size: 14px;
}

.single-section.inputs .info-column .checkbox-input .checkbox {
    margin-top: 0;
    margin-bottom: .3rem;
    width: 500px;
}

.single-section.inputs .info-column .checkbox-input .checkbox label {
    min-height: 18px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.single-section.inputs .info-column .radio-input .radio+.radio {
    margin-left: 36px;
}

.single-section.inputs .info-column .radio-input .radio label::after {
    margin-left: -21px;
    height: 19px;
}

.single-section .info-column .info-content .label {
    font-size: 0.94rem;
    width: 200px;
    white-space: normal;
    text-align: left;
    margin-right: 1rem;
    line-height: 1.2;
    font-weight: 600;
}

.single-section .info-column .info-content .content {
    width: 100%;
    white-space: normal;
    text-align: left;
    line-height: 1.2;
    font-size: 0.94rem;
}

#modal .modal-body .wrapper .selection-section {
    position: absolute;
    right: 1rem;
    display: flex;
    z-index: 99;
}

#modal .modal-body .wrapper .dropdown.action-selection {
    margin-right: 6px;
}

#modal .modal-body .wrapper .nav {
    display: block;
    margin: 1rem 1rem 0 1rem;
    border-bottom: none;
}

#modal #navTabs.nav-tabs {
    margin: 0;
    margin-bottom: 0;
    border-bottom: none;
}

#modal #navTabs.nav-tabs>li.active>a,
#modal #navTabs.nav-tabs>li.active>a:focus,
#modal #navTabs.nav-tabs>li.active>a:hover {
    border-bottom: none;
}

#modal #navTabs.nav-tabs .item,
#modal #navTabs.nav-tabs>li.active {
    padding: 0;
    border-bottom: none;
}

#modal #navTabs.nav-tabs>li {
    margin-bottom: 0;
}

#modal #navTabs.nav-tabs>li.active>a {
    background: transparent;
}

#modal .nav-tabs.sub-tabs>li>a {
    color: #454D5D;
}

#modal #navTabs.nav-tabs>li>a {
    display: inline-flex;
    align-items: center;
}

#modal .modal-body .wrapper .nav-tabs.sub-tabs>li {
    text-decoration: none;
    font-weight: 600;
}

#modal .modal-body .wrapper .nav-tabs.sub-tabs>li.active a {
    color: #00aaff;
    z-index: 9;
    box-shadow: 0px 2px 2px 0 rgba(34, 36, 38, 0.15)
}

#modal .modal-body .wrapper .nav-tabs.sub-tabs>li:hover a {
    color: #00aaff;
}

#modal .modal-body .wrapper .nav-tabs.sub-tabs>li.active {
    border-bottom: none;
    font-weight: 600;
}

#importModal .modal-dialog {
    max-width: 540px;
}

#addModal .modal-dialog {
    max-width: 440px;
}

#addModal .modal-body {
    max-height: 340px;
    overflow-y: auto;
}

#addModal .modal-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#addModal .modal-dialog .modal-content {
    background: #F2F5F9;
}

#addModal .modal-dialog .modal-content .section {
    box-shadow: 0 2px 5px rgba(34, 36, 38, 0.15);
    margin: 0.5em 0 0 0;
    padding: 1rem;
}

#addModal .modal-dialog .modal-content .section .label {
    font-size: 0.84rem;
    width: 120px;
    display: inline-block;
    text-align: left;
}

#addModal .modal-dialog .modal-content .section .input-item {
    display: block;
    margin-bottom: 0.5em;
}

#addModal .modal-dialog .modal-content .section input {
    display: inline-block;
}

#addModal .modal-dialog .modal-content .section .dropdown {
    display: inline-block;
    color: #222;
}

.csvformat-section {
    margin: 0.5em 0;
    background: #F4FbFC;
    height: 98px;
    border-radius: 3px;
    overflow-y: auto;
    padding: 0.5em 0;
}

.csvformat-section ul {
    list-style-type: decimal;
    padding: 0 34px;
    color: #222;
    font-size: 0.84rem;
    font-weight: 600;
}

@media (max-width: 1280px) {
    .modal.center:before {
        content: '';
        display: inline-block;
        height: auto;
        margin-right: -4px;
        vertical-align: top;
    }
}
